/* ADMIN */
body {
    margin: 0;
    background-color: white;
    overflow-x: hidden;
}
/* NAV BAR */


nav {
    background-color: rgb(43, 43, 43);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.ulSkewed {
    color: white;
    font-size: 26px;
    margin-left: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* PHP link */

nav ul input{
    border-radius: 8px;
    font-size: 16px;
}

nav ul button{
        font-size: 18px;
        background-color: black;
        color: white;
        border-radius: 8px;
        width: 68px;
        transition: 1.1s;
}


/* SCALE */
nav ul button:hover{
    transform: scale(1.1);
}

/* HEADER */
header{
    background-color: rgb(73, 73, 73);
    display: inline-block;
    width: 100%;
    height: 580px;
    position: relative;
    text-align: center;
}

#header{
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
}

header h1{
   position: absolute;
  bottom: 120px;
  left: 120px;
  color: white;
  font-size: 78px;
}

header p{
     position: absolute;
  bottom: 80px;
  left: 120px;
  color: white;
  font-size: 38px;
}
/* MAIN */
main{
    background-color: aqua;
    display: inline-block;
    width: 100%;
    height: 680px;
}
/* FOOTER */
footer{
    background-color: blue;
    display: inline-block;
    width: 100%;
    height: 480px;
}